<div class="container-fluid">
    <h3 style="text-align: center;">
        Registro con la información de socios y patrones del club
    </h3>
    <br>
    <p>Puede editar la información pulsando el botón "editar" o eliminar la entrada correspondiente.</p>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">DNI</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Socio</th>
            <th scope="col">Patrón</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of personas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{p.nombre}}</td>
                <td>{{p.apellidos}}</td>
                <td>{{p.dni}}</td>
                <td>{{p.telefono}}</td>
                <td>{{p.esSocio==true? 'Sí' : 'No'}}</td>
                <td>{{p.esPatron==true? 'Sí' : 'No'}}</td>
                <td><a>Editar</a>&nbsp;&nbsp;&nbsp;<a>Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</div>