<p-toast [style]="{marginTop: '50px'}"></p-toast>
<div class="container-fluid">
    <h3 style="text-align: center; margin-top: 10px;">
        Registro con la información de salidas de las embarcaciones
    </h3>

    <h5>Añadir una nueva salida:</h5>

    <form class="form-group row" [formGroup]="formSalida">
        <div class="form-group col-md-3" style="margin-top: 10px;">
          <label for="destino">Destino</label>
          <input type="text" name="destino" id="destino" placeholder="Destino" class="form-control" [(ngModel)]="formDestino" formControlName="destino">
          <div class="alert alert-danger mt-2" [hidden]="destino.valid || destino.pristine">
            Introduzca un destino
          </div>
        </div>
        <div class="form-group col-md-3" style="margin-top: 10px;">
          <label for="fecha">Fecha</label>
          <input type="text" name="fecha" id="fecha" placeholder="AAAA-MM-DD" class="form-control" [(ngModel)]="formFecha" formControlName="fecha">
          <div class="alert alert-danger mt-2" [hidden]="fecha.valid || fecha.pristine">
            <span *ngIf="fecha.errors?.['required']">
              Introduzca hora de salida
            </span>
            <span *ngIf="fecha.errors?.['pattern']">
              El formato de la fecha no es correcto (AAAA-MM-DD)
            </span>
          </div>
        </div>
        <div class="form-group col-md-3" style="margin-top: 10px;">
            <label for="hora">Hora</label>
            <input type="text" name="hora" id="hora" placeholder="HH:MM" class="form-control" [(ngModel)]="formHora" formControlName="hora">
            <div class="alert alert-danger mt-2" [hidden]="hora.valid || hora.pristine">
              <span *ngIf="hora.errors?.['required']">
                Introduzca hora de salida
              </span>
              <span *ngIf="hora.errors?.['pattern']">
                El formato de la hora no es correcto (HH:MM)
              </span>
            </div>
          </div>
      <div class="form-group col-md-3" style="margin-top: 10px;">
        <label for="patron">Selecciona patrón</label>
        <select class="form-select" [(ngModel)]="formPatron" formControlName="patron" id="patron">
          <option [ngValue]="formPatron" selected disabled>Elige uno...</option>
          <option *ngFor="let p of personas" [ngValue]="p">
            {{p.nombre}} {{p.apellidos}}
            </option>
        </select>
      </div>
      <div class="form-group col-md-3" style="margin-top: 10px;">
        <label for="barco">Selecciona embarcación</label>
        <select class="form-select" [(ngModel)]="formBarco" formControlName="barco" id="barco">
          <option [ngValue]="formBarco" selected disabled>Elige una...</option>
          <option *ngFor="let b of barcos" [ngValue]="b">
            {{b.nombre}}
            </option>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success" (click)="addSalida()" style="margin-top: 30px;" [disabled]="formSalida.invalid">Agregar salida</button>
      </div>
    </form>
    <hr>
    <p>Puede modificar la información pulsando el botón "editar" o eliminar la entrada correspondiente.</p>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Barco</th>
            <th scope="col">Patrón</th>
            <th scope="col">Destino</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col" style="text-align: center;">Opciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of salidas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{s.barco.nombre}}</td>
                <td>{{s.patron.nombre}} {{s.patron.apellidos}}</td>
                <td>{{s.destino}}</td>
                <td>{{s.fecha}}</td>
                <td>{{s.hora}}</td>
                <td style="text-align: center;">
                  <p class="btn btn-default" style="margin-right: 10px;"><a [routerLink]="['/editarSalida', i]" style="text-decoration: none;">Editar</a></p>
                    <p class="btn btn-danger" (click)="deleteSalida(s.id)">Eliminar</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
