<!-- Creamos una barra de navegación que se mostrará en todas las vistas de la app -->
<nav class="navbar navbar-expand bg-primary" style="--bs-bg-opacity: .1;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">{{title}}</a>
    </div>
    <ul class="nav navbar-nav navbar-center" style="text-align: center;">
      <li class="active">
        <a routerLink='personas' class="nav-link"  *ngIf="logueado()">Personas</a>
      </li>
      <li class="active">
        <a class="nav-link" routerLink="barcos"  *ngIf="logueado()">Barcos</a>
      </li>
      <li class="active">
        <a class="nav-link" routerLink="salidas"  *ngIf="logueado()">Salidas</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" routerLink="login" *ngIf="!logueado()">Iniciar sesión</a>
      </li>
      <li class="active">
        <a class="nav-link" routerLink="signup" *ngIf="!logueado()">Registrarse</a>
      </li>
      <li class="active">
        <a class="nav-link" (click)="logout()" routerLink="" *ngIf="logueado()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet>

</router-outlet>