<div class="container-fluid" style="text-align: center;">
    <h2 style="text-align: left;">Registro de nuevo usuario</h2>
    <div>
        <form #miFormulario="ngForm" (ngSubmit)="formSubmit()">
            <div class="form-group col-md-3" style="margin-top: 20px; margin-left: 10px;">
                <input [(ngModel)]="usuario.nombre" type="text" name="nombre" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group col-md-3" style="margin-top: 20px; margin-left: 10px;">
                <input [(ngModel)]="usuario.apellidos" type="text" name="apellidos" placeholder="Apellidos" class="form-control" ngModel>
            </div>
            <div class="form-group col-md-6" style="margin-top: 20px; margin-left: 10px;">
                <input [(ngModel)]="usuario.username" type="text" name="username" placeholder="Nombre de usuario" class="form-control" ngModel>
            </div>
            <div class="form-group col-md-6" style="margin-top: 20px; margin-left: 10px;">
                <input [(ngModel)]="usuario.email" type="email" name="email" placeholder="usuario@email.com" class="form-control" ngModel>
            </div>
            <div class="form-group col-md-6" style="margin-top: 20px; margin-left: 10px;">
                <input [(ngModel)]="usuario.password" type="password" name="password" placeholder="Contraseña" class="form-control" ngModel>
            </div>
            <div style="margin-top: 20px; margin-left: 10px;">
                <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
        </form>
    </div>
</div>
